extends layout

block content 
  div.login
    h1= title
    span or
    a.signup(href='/signup') Create an account

  if messages.error 
    span= messages.error

  form.login(action="", method="POST")
    div.form-group
      label(for="email") Email
      input#email(type='text', name="email", required)
    div.form-group
      label(for="password") Password
      input#password(type='password', name="password", required)
    button(type="submit") Submit