extends layout 

block content
  nav
    a(href="/") Home

  h1.post-delete Confirm Post Deletion 

  div.post-delete
    h3.title= message.title
    span.author= message.createdBy
    span.date= message.createdAt
    p= message.text

  form.post-delete(action="", method="POST")
    a.post-delete(href="/") Cancel
    button#delete_post(type="submit", name="delete_post") Confirm