extends layout 

block content
  nav
    a(href="/") Home

  h1.post-form= title

  form.post-form(action="", method="POST")
    div.form-group
      label(for="title") Title
      input#title(type="text", name="title", required)
    div.form-group
      label(for="text") Body
      textarea#text(name="text", required)
    button(type="submit") Submit

  if errors
    ul
      for error in errors
        li!= error.msg