extends layout

block content
  nav
    a(href="/") Home

  h1.signup= title

  form.signup(action="", method="POST")
    div.form-group
      label(for="first_name") First Name
      input#first_name(type='text', name="first_name", required)
    div.form-group
      label(for="last_name") Last Name
      input#last_name(type='text', name="last_name", required)
    div.form-group
      label(for="email") Email
      input#email(type='text', name="email", required)
    div.form-group
      label(for="password") Password
      input#password(type='password', name="password", required)
    button(type="submit") Submit

  a.login(href='/login') Login instead